.row.half
  .panel.panel-default.col-xs-12.col-sm-12
    .panel-body.row.fill
      .col-xs-12.col-sm-4
        .row
          .col-xs-12.col-sm-6.text-right.text-uppercase
            label for="brand" Brand:
          .col-xs-12.col-sm-6
            select id="brand" ng-model="brand_link"  ng-options="brand_name for (brand_name, brand_link) in brands"
        .row
          .col-xs-12.col-sm-6.text-right.text-uppercase
            label for="product" Cellphone:
          .col-xs-12.col-sm-6
              select id="product" ng-model="product_link" ng-options="product_name for (product_name, product_link) in products"
      .col-xs-12.col-sm-8.scrollable
        h4.text
          u ng-bind="product_info.model"
        dl
          dt.text-uppercase ng-bind="spec_name" ng-repeat-start="(spec_name, spec_attrs) in product_info.specs"
          dd ng-repeat-end=""
            dl.dl-horizontal
              dt ng-bind="attributeName" ng-repeat-start="(attributeName, attributeValue) in spec_attrs"
              dd ng-bind="attributeValue" ng-repeat-end=""

.row.half
  .panel.panel-default.col-xs-12
    .panel-body.fill
      .row.search-ph
        = text_field_tag :keyword, nil, {data: {ng_model: 'keyword'}, "press-enter" => ''}
        = button_tag :search, data: {ng_click: "goSearch()"}
      .row.fill.products-list
        .col-xs-12.scrollable.search-result
          ul.list-inline
            li ng-repeat="prod_item in prod_items"
              h4
                span.label.label-primary ng-bind="prod_item"
