@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

select {
  width: 120px;
}

.container {
  height:       100%;
  margin-top:     10px;
  margin-bottom:  10px;
}

.row > div {
  height: 100%;
}

.row.half {
  height: 50%;
}

.fill {
  height: 100%;
}

.products-list {
  margin-top: 10px;
}

.scrollable {
  overflow: auto;
  height:   100%;
}

.spec-name {
  vertical-align: top;
}

.search-result {
  height: 85% !important;
}
