doctype html
html lang="en"
  head
    title CloudGlaze
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'angular.min'

  body
    .container ng-app="cloudGlaze" ng-controller="crawlersController"
      = yield
